@charset "UTF-8";

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #283744;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav li:last-child {
    float: right;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px black;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav a:hover, nav a:active {
    background-color: dodgerblue;;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

nav a#menu-s {
    display: none;
}